<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Src/Multimedia/Images/logotipo.jpg" type="image/png">
    <link rel="stylesheet" type="text/css" href="/Styles/Icons.css">
    <link rel="stylesheet" type="text/css" href="/Styles/Videos.css">
    <link rel="stylesheet" type="text/css" href="/Styles/Blogs.css">
    <link rel="stylesheet" type="text/css" href="/Styles/Menu1.css">
    <link rel="stylesheet" type="text/css" href="/Styles/Menu2.css">
    <style>
        @import 'https://fonts.googleapis.com/css?family=UnifrakturMaguntia';
    </style>

    <title>Veterinaria</title>
</head>
<body>
    <div class="carrousel">
        <div class="conteCarrousel">
            <div class="itemCarrousel" id="itemCarrousel-1">
                <div class="itemCarrouselTarjeta">
                    <img src="/Src/Multimedia/Images/adopcion.jpg" alt="image1">
                    <div class="imageText">Campañas de adopcion frente al abandono y maltrato animal</div>
                </div>  
                <div class="itemCarrouselArrows">
                    <a href="#itemCarrousel-4">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <a href="#itemCarrousel-2">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="itemCarrousel" id="itemCarrousel-2">
                <div class="itemCarrouselTarjeta">
                    <img src="/Src/Multimedia/Images/baño.jpg" alt="image2">
                    <div class="imageText">Servicio de baño y vacunacion por el personal</div>
                </div>
                <div class="itemCarrouselArrows">
                    <a href="#itemCarrousel-1">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <a href="#itemCarrousel-3">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="itemCarrousel" id="itemCarrousel-3">
                <div class="itemCarrouselTarjeta">
                    <img src="/Src/Multimedia/Images/comida.jpeg" alt="image3">
                    <div class="imageText">Productos balanceados para adultos y cachorros, juguetes nuevos</div>
                </div>
                <div class="itemCarrouselArrows">
                    <a href="#itemCarrousel-2">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <a href="#itemCarrousel-4">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
            <div class="itemCarrousel" id="itemCarrousel-4">
                <div class="itemCarrouselTarjeta">
                    <img src="/Src/Multimedia/Images/desparacitacion.jpeg" alt="image4">
                    <div class="imageText">Cuida su salud, desparacitacion a 50 Bs.</div>
                </div>
                <div class="itemCarrouselArrows">
                    <a href="#itemCarrousel-3">
                        <i class="fas fa-chevron-left"></i>
                    </a>
                    <a href="#itemCarrousel-1">
                        <i class="fas fa-chevron-right"></i>
                    </a>
                </div>
            </div>
        </div>
        <div class="conteCarrouselController">
            <a href="#itemCarrousel-1">•</a>
            <a href="#itemCarrousel-2">•</a>
            <a href="#itemCarrousel-3">•</a>
            <a href="#itemCarrousel-4">•</a>
        </div>
    </div>

    <div class="App">
        <div class='menu-container' id="perfil-menu-container">
            <button class="menu-trigger">
                <p class="user-label">Perfil</p>
                <img src="/Src/Multimedia/Images/Perfil.png" alt="Imagen de usuario" />
            </button>
    
            <div class="dropdown-menu" id="perfil-dropdown-menu">
                <h3>Web Visitor<br /><span>user.password@gmail.com</span></h3>
                <ul>
                    <li class="dropdownItem">
                        <img src="/Src/Multimedia/Images/Perfil.png" alt="My Profile" />
                        <button>My Profile</button>
                    </li>
                    <li class="dropdownItem">
                        <img src="/Src/Multimedia/Images/edit.png" alt="Edit Profile" />
                        <button>Edit Profile</button>
                    </li>
                    <li class="dropdownItem">
                        <img src="/Src/Multimedia/Images/envelope.png" alt="Inbox" />
                        <button>Inbox</button>
                    </li>
                    <li class="dropdownItem">
                        <img src="/Src/Multimedia/Images/settings.png" alt="Settings" />
                        <button>Settings</button>
                    </li>
                    <li class="dropdownItem">
                        <img src="/Src/Multimedia/Images/question.png" alt="Help" />
                        <button>Help</button>
                    </li>
                    <li class="dropdownItem">
                        <img src="/Src/Multimedia/Images/log-out.png" alt="Logout" />
                        <button>Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>

    <div>
        <div class="video-container">
            <iframe width="560" height="315" src="https://www.youtube.com/embed/sNF2PQMpzog" frameborder="0" allowfullscreen></iframe>
        </div>
        
    
        <div class="chat-container">
            <div class="chat-box">
              <div class="message">
                <img src="/Src/Multimedia/Images/avatar2_.png" alt="Avatar 1" class="avatar" />
                <span>Hola, ¿cómo esta la mascota?</span>
              </div>
              <div class="message">
                <img src="/Src/Multimedia/Images/Perfil.png" alt="Avatar 2" class="avatar" />
                <span>¡Hola! no muy bien, ¿puedo agendar una cita?</span>
              </div>
                <span>...</span>
            </div>
            <form class="chat-form">
              <input
                type="text"
                value=""
                placeholder="Type a message..."
              />
              <button type="submit">Send</button>
            </form>
        </div>          
    </div>

    <div class="button-bar">
        <a href="/Src/Views/Home.html" style="background-color: #cbe5ef; color: #000000;">Home <i class="menu-icon"></i></a>
        <br />
        <a href="/Src/Views/Services.html" style="background-color: #cbe5ef; color: #000000;">Services <i class="information-icon"></i></a>
        <br />
        <a href="/Src/Views/Blogs.html" style="background-color: #ff8000; color: #ffffff;">Blogs <i class="question-icon"></i></a>
        <br />
        <a href="/Src/Views/Animals.html" style="background-color: #cbe5ef; color: #000000;">Animals <i class="form-icon"></i></a>
        <br />
        <a href="/Src/Views/Contact.html" style="background-color: #cbe5ef; color: #000000;">Contact <i class="photo-icon"></i></a>
        <br />
        <a href="/Src/Views/Financing.html" style="background-color: #cbe5ef; color: #000000;">Financing <i class="finan-icon"></i></a>
        <br />
    </div>

    <div class="body2">
        <header>
            <div class='blacktopline'></div>
            <h1 class='namenews'>Olden Times</h1>
        </header>
        <div class='datanews'>
            <ul id='datacontenido'>
            <i><li style='width:21%'>N°23423</li></i>
            <li style='width:46%'>The World oldes newspaper</li>
            <i><li style='width:21%'>-Since 2023-<li></i>
            </ul>
        </div>
        
        <aside>
            <div>
            <h2 class='titleplana'>
                Es vital llevar a tu mascota al veterinario y asegurar que reciba todas las vacunas y medicamentos que la mantengan sana
            </h2>
            </div>
        </aside>
        
        <aside class='body-contnent'>
            <div class='foto'>
                <img src="/Src/Multimedia/Images/periodico.png" alt="Periodico" />
            </div>
            <div class='div-col3'>
            <div>
                <h3>Es la mejor manera de conservar la protección sobre ti y sobre tus seres queridos</h3>
                <p>
                    No es que no quieras lo mejor para tu mascota. De seguro le compras el alimento de mejor calidad, lo bañas a menudo y siempre tiene el juguete de moda, pero el llevarlo a chequeos médicos al veterinario no nos parece importante, cuando en realidad es vital.
                </p> 
            </div>
            </div>
            <div class='div-col4'>
            <p>
                Es por lo anterior, que hoy te queremos compartir las ventajas de llevar a tu mascota al veterinario, seguramente habrá algunas que no tenías en cuenta.
                <br />
                <br />
                El veterinario mantiene a tu mascota libre de sufrimiento.
                Si amas a tu mascota y te importa realmente el bienestar de los animales, debes hacer todo lo que esté a tu alcance para evitarles sufrimiento. El veterinario tiene todos los conocimientos necesarios para curar a los animales y te recomendará el mejor curso de acción.
            </p>
            </div>
        </aside>
    </div>

    <div class="contenedor-imagenes">
      <div class="contenedor-imagen">
        <h2>
            <u>"Cifras de abandono"</u>
        </h2>
        <img src="/Src/Multimedia/Images/estadistica1.png" alt="grafico_1" />
      </div>
      <div class="separador-vertical"></div>
      <div class="contenedor-imagen">
        <h2>
            <u>"Bienestar animal y social"</u>
        </h2>
        <img src="/Src/Multimedia/Images/estadistica2.png" alt="grafico_2" />
      </div>
    </div>
    <div class="video-container2">
        <iframe width="560" height="315" src="https://www.youtube.com/embed/j_b3lzShjL8" frameborder="0" allowfullscreen></iframe>
    </div>   
    
    <script defer src="../Languaje/Blogs.js"></script>
</body>
</html>
