<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="/Src/Multimedia/Images/logotipo.jpg" type="image/png">
    <link rel="stylesheet" type="text/css" href="/Styles/Menu1.css">
    <link rel="stylesheet" type="text/css" href="/Styles/Menu2.css">
    <link rel="stylesheet" type="text/css" href="/Styles/Menu3.css">
    <link rel="stylesheet" type="text/css" href="/Styles/Menu4.css">
    <link rel="stylesheet" type="text/css" href="/Styles/Icons.css">
    <script src="https://kit.fontawesome.com/887a835504.js" crossorigin="anonymous"></script>
    <title>Veterinaria</title>
    <style>
        /* Agrega estilos según sea necesario */
        .status {
          display: inline-block;
          padding: 5px 10px;
          border-radius: 5px;
          color: #fff;
        }
    
        .delivered { background-color: green; }
        .shipped { background-color: blue; }
        .cancelled { background-color: red; }
        .pending { background-color: orange; }
    </style>
</head>
<body>
        <div class="carrousel">
            <div class="conteCarrousel">
                <div class="itemCarrousel" id="itemCarrousel-1">
                    <div class="itemCarrouselTarjeta">
                        <img src="/Src/Multimedia/Images/adopcion.jpg" alt="image1">
                        <div class="imageText">IA daña a todo el planeta, pero aún hay tiempo para revertir si los gobiernos actúan ahora</div>
                    </div>  
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-4" onclick="changeItem(-1)">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <a href="#itemCarrousel-2" onclick="changeItem(1)">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="itemCarrousel" id="itemCarrousel-2">
                    <div class="itemCarrouselTarjeta">
                        <img src="/Src/Multimedia/Images/baño.jpg" alt="image2">
                        <div class="imageText">IA en la inteligencia artificial, mucho mayor del que se creía</div>
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-1">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <a href="#itemCarrousel-3">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="itemCarrousel" id="itemCarrousel-3">
                    <div class="itemCarrouselTarjeta">
                        <img src="/Src/Multimedia/Images/comida.jpeg" alt="image3">
                        <div class="imageText">IA del consumo de productos animales</div>
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-2">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <a href="#itemCarrousel-4">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
                <div class="itemCarrousel" id="itemCarrousel-4">
                    <div class="itemCarrouselTarjeta">
                        <img src="/Src/Multimedia/Images/desparacitacion.jpeg" alt="image4">
                        <div class="imageText">IA del consumo de productos animales</div>
                    </div>
                    <div class="itemCarrouselArrows">
                        <a href="#itemCarrousel-3">
                            <i class="fas fa-chevron-left"></i>
                        </a>
                        <a href="#itemCarrousel-1">
                            <i class="fas fa-chevron-right"></i>
                        </a>
                    </div>
                </div>
            </div>
            <div class="conteCarrouselController">
                <a href="#itemCarrousel-1" onclick="changeItem(0)">•</a>
                <a href="#itemCarrousel-2" onclick="changeItem(1)">•</a>
                <a href="#itemCarrousel-3" onclick="changeItem(2)">•</a>
                <a href="#itemCarrousel-4" onclick="changeItem(3)">•</a>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div class="tree">
                    <ul>
                        <li> <a href="#"><img src="/Src/Multimedia/Images/1.jpg"><span> Gerente </span></a>
                            <ul>
                                <li><a href="#"><img src="/Src/Multimedia/Images/2.jpg"><span> Responsable de 
                                                                                            <br>Administracion 
                                                                                        </span></a>
                                    <ul>
                                        <li> <a href="#"><img src="/Src/Multimedia/Images/3.jpg"><span> Personal de 
                                                                                                    <br>Mantenimiento 
                                                                                                </span></a> </li>
                                        <li> <a href="#"><img src="/Src/Multimedia/Images/4.jpg"><span> Personal Administrativo </span></a> </li>
                                    </ul>
                                </li>
                                <li> <a href="#"><img src="/Src/Multimedia/Images/5.jpg"><span> Responsable de 
                                                                                            <br>Personal Auxiliar 
                                                                                        </span></a>
                                    <ul>
                                        <li> <a href="#"><img src="/Src/Multimedia/Images/6.jpg"><span> Personal de 
                                                                                                    <br>Servicio al Cliente 
                                                                                                </span></a> </li>
                                        <li> <a href="#"><img src="/Src/Multimedia/Images/7.jpg"><span> Personal de 
                                                                                                    <br>Enfermeria 
                                                                                                 </span></a> </li>
                                        <li> <a href="#"><img src="/Src/Multimedia/Images/8.jpg"><span> Personal Medico </span></a> </li>
                                    </ul>
                                </li>
                            <li><a href="#"><img src="/Src/Multimedia/Images/9.jpg"><span> Director Medico </span></a></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="calendar">
            <h1>Noviembre</h1>
            <ol>
                <li class="day-name">L</li>
                <li class="day-name">M</li>
                <li class="day-name">X</li>
                <li class="day-name">J</li>
                <li class="day-name">V</li>
                <li class="day-name">S</li>
                <li class="day-name">D</li>
                <li class="first-day">1</li>
                <li>2</li>
                <li>3</li>
                <li>4</li>
                <li>5</li>
                <li>6</li> 
                <li>7</li>
                <li>8</li>
                <li>9</li>
                <li>10</li>
                <li>11</li> 
                <li>12</li>
                <li>13</li>
                <li>14</li>
                <li>15</li>
                <li>16</li>
                <li>17</li>
                <li>18</li>
                <li>19</li>
                <li>20</li>
                <li>21</li>
                <li>22</li>
                <li>23</li>
                <li>24</li>
                <li>25</li>
                <li>26</li>
                <li>27</li>
                <li>28</li>
                <li>29</li>
                <li data-day="30">30</li> <!-- Día 11 resaltado -->
            </ol>
        </div>

    <div class="App">
        <div class='menu-container' id="perfil-menu-container">
            <button class="menu-trigger">
                <p class="user-label">Perfil</p>
                <img src="/Src/Multimedia/Images/Perfil.png" alt="Imagen de usuario" />
            </button>
    
            <div class="dropdown-menu" id="perfil-dropdown-menu">
                <h3>Web Visitor<br /><span>user.password@gmail.com</span></h3>
                <ul>
                    <li class="dropdownItem">
                        <img src="/Src/Multimedia/Images/Perfil.png" alt="My Profile" />
                        <button>My Profile</button>
                    </li>
                    <li class="dropdownItem">
                        <img src="/Src/Multimedia/Images/edit.png" alt="Edit Profile" />
                        <button>Edit Profile</button>
                    </li>
                    <li class="dropdownItem">
                        <img src="/Src/Multimedia/Images/envelope.png" alt="Inbox" />
                        <button>Inbox</button>
                    </li>
                    <li class="dropdownItem">
                        <img src="/Src/Multimedia/Images/settings.png" alt="Settings" />
                        <button>Settings</button>
                    </li>
                    <li class="dropdownItem">
                        <img src="/Src/Multimedia/Images/question.png" alt="Help" />
                        <button>Help</button>
                    </li>
                    <li class="dropdownItem">
                        <img src="/Src/Multimedia/Images/log-out.png" alt="Logout" />
                        <button>Logout</button>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    
    <div class="button-bar">
        <a href="/Src/Views/Home.html" style="background-color: #ff8000; color: #ffffff;">Home <i class="menu-icon"></i></a>
        <br />
        <a href="/Src/Views/Services.html" style="background-color: #cbe5ef; color: #000000;">Services <i class="information-icon"></i></a>
        <br />
        <a href="/Src/Views/Blogs.html" style="background-color: #cbe5ef; color: #000000;">Blogs <i class="question-icon"></i></a>
        <br />
        <a href="/Src/Views/Animals.html" style="background-color: #cbe5ef; color: #000000;">Animals <i class="form-icon"></i></a>
        <br />
        <a href="/Src/Views/Contact.html" style="background-color: #cbe5ef; color: #000000;">Contact <i class="photo-icon"></i></a>
        <br />
        <a href="/Src/Views/Financing.html" style="background-color: #cbe5ef; color: #000000;">Financing <i class="finan-icon"></i></a>
        <br />
    </div>

    <div class="language-container">
        <label for="language-select">
          <u>Seleccione el idioma:</u> <i class="fas fa-globe button-icon"></i>
        </label>
        <select id="language-select">
          <option value="es">Español</option>
          <option value="en">English</option>
          <option value="fr">Frances</option>
          <option value="it">Italiano</option>
        </select>
    </div>

    <body2>
        <main class="table">
          <section class="table_header">
            <h1> Personal de la Veterinaria </h1>
          </section>
          <section class="table_body">
            <table>
              <thead>
                <tr>
                  <th> id </th>
                  <th> Nombre </th>
                  <th> Ciudad </th>
                  <th> Trabajo </th>
                  <th> Estado </th>
                  <th> Costo </th>
                </tr>
              </thead>
              <tbody id="tableBody">
                <!-- Filas existentes -->
                <tr>
                  <td> 1 </td>
                  <td> <img src="https://via.placeholder.com/50" alt="person"> Jeet Saru </td>
                  <td> Cochabamba </td>
                  <td> Radiologia digital y Ecografia </td>
                  <td>
                    <p class="status delivered">Disponible</p>
                  </td>
                  <td><strong> Bs 19.10 </strong></td>
                </tr>
                <!-- ... Otras filas existentes ... -->
              </tbody>
            </table>
            <button onclick="agregarNuevaFila()">Agregar Nueva Fila</button>
          </section>
        </main>
    </body2>

    <footer>
        <div class="footer-content">
            <p class="copyright">&copy; Todos los derechos reservados</p>
            <div class="footer-logo">
                <img src="/Src/Multimedia/Images/icon.jpeg" alt="Logo">
            </div>
            <div class="footer-info">
                <p>Dirección: Plaza principal, Cochabamba - Bolivia</p>
                <p>Teléfono: +4 1234567 / +593 12345678</p>
                <p>Email: Veterinaria@edu.bo</p>
            </div>
        </div>
    </footer>    

    <script defer src="../Languaje/Home.js"></script>
</body>
</html>
